html,
body {
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 100%;
}

#root {
  position: fixed;
  inset: 0;
  height: 100vh;
  overflow-y: scroll;
}

.main {
  padding: 5vw;
  padding-top: 50vh;
  padding-bottom: 120vh;
}

.rect {
  padding: 10px;
  background: red;
  border: 2px solid yellow;
}
